.left-health {
   display: none;
}

.lazyload:not(.homepageImageTitle) {
    background-color: transparent !important;
}

.card, .card-body {
        background: transparent !important;
        height: 20px;
    }
.bg-inverse {
        background: transparent !important;
    }



/* Missing episode that hasn't aired */
div[class*="fc"] .text-info {
  color: #ff4747 !important;
}
/* Missing episode that has aired */
div[class*="fc"] .text-danger {
  color: #ff4747 !important;
}
    
    div[class*="fc"] .text-primary {
    color: #ff4747 !important;
}
